<div class="row">
  <div class="col-md=8">
    <div class="media">
        <h2> <%= @user.name || @user.email %>'s List </h2>
    </div>
  </div>

  <table class="table table-bordered table-hover table-condensed">
    <%= render @items %>
  </table>
  <% if policy(Item.new).create? %>
    <%= render partial: 'items/form', locals: {item: Item.new} %>
  <% end %>
</div>
